body {
  color: #606060;
  background-color: #fafbfc;
  font-size: 16px;
  font-weight: 500;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1 {
  font-family: 'Unica One', sans-serif;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 20px;
  line-height: 1.1em;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  color: #fff;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  color: #6D4C5F;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 0.5em;
  font-size: 3em;
  line-height: 1.1em;
  text-transform: uppercase;
}

h3 {
  margin: 0 0 0.5em;
  font-size: 1.4em;
}

h4 {
  margin: 0 0 1.5em;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: none;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.9em;
  font-weight: 400;
}

p {
  font-family: 'Raleway', sans-serif;
  margin: 0 0 1em;
  text-align: justify;
  font-size: 1em;
}

a {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

span.white {
  // color: #fff;
}
