.two-tone-btn {
  background: linear-gradient(to right bottom, $diagonal-btn-topleft-color 50%, $diagonal-btn-bottomright-color 50%);
  padding: 0.75em;
  display: block;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0.25em 0;
  color: $color-white;
  outline: 2px solid transparent;
  font-weight: normal;
  text-transform: uppercase;
  font-family: sans-serif;
  transition: outline .5s, color .5s;
}

.two-tone-btn:hover, .two-tone-btn:focus {
  background: linear-gradient(to right bottom, $diagonal-btn-hover-topleft-color 50%, $diagonal-btn-hover-bottomright-color 50%);
  color: $color-white;
  border: none;
  outline: none;
}

.about-section .resume-container .resume {
  box-shadow: none;
  border: none;
  padding: 0.75em 2.0em;
  width: auto;
  display: inline-block;
}

.project-btn {
  width: 40%;
}

.sidebar-middle a {
}

.sidebar-middle a.nav-active {
  outline: 2px solid $color-white;
}
