@import 'components/hamburger-icon';

.sidebar-hamburger {
  display: none;
}

.sidebar-hamburger .hamburger-sidebar-header {
  position: absolute;
  // border: 2px solid green;
  top: 0px;
  left: 0;
  width: 80%;
  height: 50px;
}

.sidebar-hamburger .hamburger-sidebar-header h1 {
  letter-spacing: initial;
  margin: 0;
  line-height: 48px;
  padding-left: 10px;
}

.sidebar-hamburger .hamburger-nav ul {
  list-style: none;
  margin: 40px 0 40px 0;
  padding: 0;
  text-align: center;
  align-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.sidebar-hamburger .hamburger-nav ul .two-tone-btn {
  width: 250px;
  margin: auto;
}
