// change font-awesome default styling

.fa {
  /* custom styling */
  font-size: 25px;
  color: $icon-color;
  transition: color .5s;
}

/* custom hover effect */
.fa:hover {
  font-size: 25px;
  color: $icon-hover-color;
}
