article.project {
  // border: 2px solid blue;
}

.media-container { // flexbox child
  margin-bottom: 30px;
  width: 100%;
  padding: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.media {
  width: 100%;
  max-height: 298px;
}

.media-container img {
  max-height: 298px;
  max-width: 538px;
}

.media-container video {
  max-width: 538px;
  max-height: 298px;
  display: block;
}
