.sidebar {
  // border: 2px solid yellow;
  @include max-vw(border-right-width, .035 * $pic-length);
  background-color: $sidebar-color;
  border-right: .8vw solid $sub-color;
  height: 100%;
  max-width: 250px;
  padding-left: 0; // remove Bootstrap default
  padding-right: 0; // remove Bootstrap default
  position: fixed;
}

.profile-pic-container {
  position: relative;
}

.profile-pic {
  @include max-vw(width, $pic-length);
  @include max-vw(height, $pic-length);
  @include max-vw2(transform, 24.3 - ($pic-length / 2));
  max-width: 300px;
  position: relative;

}

.main-content {
  padding-left: 15%;
}

.hexagon-pic-container {
  @include max-vw(width, $pic-length);
  @include max-vw(height, $pic-length);
  position: relative;
}

.hexagon {
  @include max-vw(width, 1.732 / 2 * $pic-length / 2);
  @include max-vw(height, $pic-length / 2);
  @include max-vw(top, $pic-length / 4);
  @include max-vw(left, 24.4);
  background-color: $sub-color;
  display: inline-block;
  position: absolute;
}

.hexagon::before,
.hexagon::after {
  @include max-vw(border-right-width, 1.732 / 2 * $pic-length / 2);
  border-right: 1.732 / 2 * 20vw / 2 solid transparent;
  content: '';
  position: absolute;
}

.hexagon::before {
  @include max-vw(border-bottom-width, $pic-length / 4);
  border-bottom: 5vw solid $sub-color;
  bottom: 100%;
}

.hexagon::after {
  @include max-vw(border-top-width, $pic-length / 4);
  border-top: 5vw solid $sub-color;
  top: 100%;
}
