// .carousel {
//   width: 500px;
//   // margin: 0 auto;
// }

.media-container { // flexbox child
  // border: 2px solid red;
  height: 50%;
  // margin: 0 auto;
  max-height: 543px;
  max-width: 1034px;
  width: 100%;
}

.media-wrapper {
  // border: 2px solid yellow;
  // height: 0;
  padding-bottom: 67.5%;
  padding-top: 18px;
  position: relative;
}

.media-macbook {
  background: url(../../assets/images/macbook.png) center center no-repeat;
  background-size: contain;
  // border: 2px solid blue;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 7.6% 15.5% 14.8%; // top, left/right, bottom
  position: absolute;
  top: 0;
  width: 100%;
}

// video: width="320" height="240"
