@import 'layout/breakpoint';

//////////////////
// Sidebar
//////////////////

.flex-container-main {
  @include breakpoint(max-medium) {
    flex-direction: column;
    padding-right: 0;
  }
}

.sidebar {
  @include breakpoint(min-large) {
    border-right-width: ((.035 * $pic-length) / 100) * 1000px;
  }
  @include breakpoint(max-medium) {
    position: inherit;
    border-right: 0;
    border-right-width: 0;
    height: auto;
    max-width: none;
    width: 100%;
  }
  @include breakpoint(min-medium) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.sidebar-hamburger {
  @include breakpoint(max-medium) {
    display: block;
    overflow: hidden;
    height: 50px;
    transition: height 1s;
  }
}

.sidebar-hamburger .icons {
  @include breakpoint(max-medium) {
    width: 50%;
  }
}

.sidebar-top,
.sidebar-middle,
.sidebar-bottom {
  @include breakpoint(max-medium) {
    // height: 50px;
    display: none;
  }
}

.profile-pic {
  @include breakpoint(min-large) {
    height: ($pic-length / 100) * 1000px;
    transform: translateX(((24.3 - ($pic-length / 2)) / 100) * 1000px);
    width: ($pic-length / 100) * 1000px;
  }
}

.hexagon-pic-container {
  @include breakpoint(min-large) {
    height: ($pic-length / 100) * 1000px;
    width: ($pic-length / 100) * 1000px;
  }
  @include breakpoint(max-medium) {
    height: auto;
    // position: relative;
    width: 100%;
  }
}

.hexagon {
  @include breakpoint(min-large) {
    height: (($pic-length / 2) / 100) * 1000px;
    left: (24.4 / 100) * 1000px;
    top: (($pic-length / 4) / 100) * 1000px;
    width: (((1.732 / 2) * ($pic-length / 2)) / 100) * 1000px;
  }
}

.hexagon::before,
.hexagon::after {
  @include breakpoint(min-large) {
    border-right-width: (((1.732 / 2) * ($pic-length / 2)) / 100) * 1000px;
  }
}

.hexagon::before {
  @include breakpoint(min-large) {
    border-bottom-width: (($pic-length / 4) / 100) * 1000px;
  }
}

.hexagon::after {
  @include breakpoint(min-large) {
    border-top-width: (($pic-length / 4) / 100) * 1000px;
  }
}

//////////////////
// Main content
//////////////////

.main-content {
  @include breakpoint(min-large) {
    padding-left: 370px;
  }
  @include breakpoint(max-medium) {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}

.about-section {
  @include breakpoint(max-medium) {
    margin-top: 40px;
  }
}

.about-intro-container {
  @include breakpoint(min-large) {
  }
}

.about-section .hexagon-pic-container {
  @include breakpoint(max-medium) {
    display: block;
  }
}

.about-intro-quotation {
  @include breakpoint(max-small) {
    width: 200px;
    top: -65px;
  }
  @include breakpoint(max-xs) {
    top: -40px;
  }
}

.about-intro-quotation::before {
  @include breakpoint(max-small) {
    font-size: 17em;
  }
  @include breakpoint(max-xs) {
    font-size: 15em;
  }
}

.about-intro-quotation::after {
  @include breakpoint(max-small) {
    font-size: 17em;
    // top: -165%;
  }
  @include breakpoint(max-xs) {
    font-size: 15em;
  }
}

.about-section .about .intro {
  @include breakpoint(max-large) {
    text-align: center;
  }
}

.project-section .project {
  @include breakpoint(max-extra-large) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.project-section .projects-all {
  @include breakpoint(max-extra-large) {
    flex-direction: column;
    // border: 2px solid red;
  }
}

.media-container {
  @include breakpoint(max-extra-large) {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

//////////////////
// Typography
//////////////////

body {
  @include breakpoint(max-extra-large) {
    font-size: 12.9px;
  }
}

span.small-font {
  @include breakpoint(max-small) {
    // font-size: inherit;
  }
}

blockquote {
  @include breakpoint(max-small) {
    font-size: 2em;
    line-height: 1.1em;
  }
}
