@import "components/buttons";
@import "components/modals";
@import 'components/media';

.main-content {
  padding-left: 37vw;
  width: 97%;
}

.about-section {
  margin-top: 100px;
  margin-bottom: 160px;
  position: relative;
}

.about-intro-container {
  margin: 0px auto 100px auto;
  position: relative;
}

.about-intro-quotation {
  width: 330px;
  height: 100%;
  position: absolute;
  top: -101%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.about-intro-quotation::before {
  content: "\201C";
  color: #eeeeee;
  font-family: Georgia;
  font-size: 24em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.about-intro-quotation::after {
  content: "\201D";
  color: $quotation-color;
  font-family: Georgia;
  font-size: 24em;
  position: absolute;
  top: -0%;
  right: 0px;
  z-index: -1;
}

.about-section .about .intro {
  border-left: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  z-index: 1;
  padding: 0;
  margin-bottom: 0;
}

.about-section .about-header {
  margin-bottom: 20px;
  color: $about-header-color;
}

 .about-section .about .summary-container {
  margin-bottom: 40px;
  font-size: 1.1em;
}

 .about-section .skills {
  margin-bottom: 70px;
}

.project-section {
}

.project-section .projects-all {
  // border: 2px solid red;
  align-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.project-section .project {
  position: relative;
  // border: 2px solid blue;
  margin-bottom: 190px;
  align-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 42%;
}

.project-header {
  margin-bottom: 60px;
  color: $color-gallery;
}

.project-info { // flexbox child
  text-align: justify;
}

.project-sub-info {
  font-style: italic;
  letter-spacing: 1px;
}

.project-actions {
  position: absolute;
  bottom: -60px;
  align-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
