@import "components/buttons";

.main-content {
  // border: 2px solid red;
  padding-left: 37vw;
  width: 100%;
}

.about-section {
  margin: 50px 0 160px 0;
}

.about-section .about .intro {
  width: 850px;
  margin: 0px auto 100px auto;
  line-height: 1.4em;
}

 .about-section .about .summary {
  margin-bottom: 40px;
  font-size: 1.1em;
}

 .about-section .skills {
  margin-bottom: 70px;
}

.skills span {
   background-color: #6D4C5F;
   color: #fff;
   font-size: .8em;
   padding: 8px;
   text-transform: uppercase;
   display: inline-block;
   margin: 2px 0;
}

.project-section {
  // border: 2px solid blue;
  align-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project {
  margin-bottom: 140px;
  // border: 2px solid green;
  align-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.project-section .project:last-child {
  // border: 2px solid purple;
  margin-bottom: 0;
}

.project-info { // flexbox child
  // border: 2px solid blue;
  text-align: justify;
  width: 38%;
}

.project-actions {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}
