@import 'components/navigation';
@import 'components/icons';

.sidebar {
  background-color: $sidebar-color;
  border-right: .8vw solid $sub-color;
  border-right-width: #{.035 * $pic-length}vw;
  height: 100%;
  max-width: 250px;
  position: fixed;
  width: 25%;

  align-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-header {
  text-align: center;
  height: auto;
  margin-top: 10px;
}

.sidebar-header h1 {
  padding-left: 6%;
  height: 100%;
  margin: 0;
  color: $sidebar-header-color;
}

.profile-pic-container {
  position: relative;
}

.profile-pic {
  height: #{$pic-length}vw;
  max-width: 300px;
  position: relative;
  transform: translateX(#{24.3 - ($pic-length / 2)}vw);
  width: #{$pic-length}vw;
}

.hexagon-pic-container {
  height: 30vh;
  position: relative;
  width: #{$pic-length}vw;
}

.hexagon {
  background-color: $sub-color;
  display: inline-block;
  height: #{$pic-length / 2}vw;
  left: 24.4vw;
  position: absolute;
  top: #{$pic-length / 4}vw;
  width: #{(1.732 / 2) * ($pic-length / 2)}vw;
}

.hexagon::before,
.hexagon::after {
  border-right: 1.732 / 2 * 20vw / 2 solid transparent;
  border-right-width: #{(1.732 / 2) * ($pic-length / 2)}vw;
  content: '';
  position: absolute;
}

.hexagon::before {
  border-bottom: 5vw solid $sub-color;
  border-bottom-width: #{$pic-length / 4}vw;
  bottom: 100%;
}

.hexagon::after {
  border-top-width: #{$pic-length / 4}vw;
  border-top: 5vw solid $sub-color;
  top: 100%;
}

.icons {
  margin: 0 auto 40px auto;
  height: 30px;
  width: 100%;
  text-align: center;
}

.icons a {
  margin-right: 15%;
}

.icons a:last-child {
  margin-right: 0;
}

.copyright {
}

.copyright p {
  color: $copyright-color;
  font-size: .9em;
  margin: 0;
  text-align: center;
}
